.header{
    width: 100%;
    background-color:purple;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
}

.link{
    text-decoration: none;
}

.logo{
    width: 5%;
    margin-left:2%;
}

.header_heading{
    color: white;
}

.ul_header{
    display: flex;
    flex-direction: row;
    margin-right: 6%;
}

.ul_header li{
    list-style-type: none;
    color: white;
    margin: 8px;
    font-weight: bold;
}

.ul_header li:hover{
    text-decoration: underline white solid 4px;
}


@media screen and (max-width: 768px){
    .ul_header{
        display: flex;
        flex-direction: column;
        margin-right: 4%;
    }
    .logo{
        width: 20%;
    }
}