.cardProductsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.cardProducts{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 20%;
    margin: 2%;
}

.cardProducts img{
    width: 100%;
}

.cardProducts h1{
    text-align: center;
}

.cardProducts button{
    width: 40%;
    border: none;
    background-color: purple;
    color: white;
    margin: 1px;
    font-size: large;
    border-radius: 20px;
    cursor: pointer;
}