.toolbar{
    /* al no tener un elemnto padre asignado esta usando el body */
    position: relative;
    display:flex;
    flex-direction:column;
    position: fixed;
    width: 5%;
    top: 20%;
    /* background-color:yellow; */
}
.counter{
    position: absolute;
    bottom:10px;
    right:-14px;
    font-size:34px;
}
.toolbar_img{
    display:block;
    width:100%;
    height:50px;
}

@media screen and (max-width:760px){
    .toolbar{
        position: fixed;
        top: 50%;
        width:14%;
    }
    .toolbar_img{
        display:block;
        width:80%;
        margin: auto;
    }
}