.about{
    width: 100%;
}

.about_section{
    width: 40%;
    margin:4% auto;
    background-color: yellow;
    border-radius:50%;
}

.about_section_two{
    width:100%;
    display: flex;
    flex-direction:row;
}

.about_img{
    width: 20%;
}

p{
    text-align: center;
}

@media screen and (max-width:798px) {
    .about_section_two{
        display: flex;
        flex-direction:column;
        justify-content: center;
    }
    .about_section{
        width: 100%;
    }
}